/* PAGINA PRODUCTOS  */
main {
    height: 100%;
    padding-top: 30px;
    padding-inline: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}


.prod {
    font-family: $parraf;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 5px;
    border: 5px solid $azul;
    border-radius: 10px;
    background-image: $gradient;
    animation-duration: 3s;
    animation-name: aparecer;
    
    @keyframes aparecer {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    img {
        align-self: center;
        height: 58%;
        width: 70%;
        border-radius: 10px;
    }
    
    input {
        margin-top: 5px;
        border: 2px solid black;
        border-radius: 5px;
        height: 25px;
        width: 30%;
    
    }
}
